body    {
background: #FFFFFF;
background: -moz-linear-gradient(top, #FFFFFF 0%, #6CAEF9 50%, #F199FE 100%);
background: -webkit-linear-gradient(top, #FFFFFF 0%, #6CAEF9 50%, #F199FE 100%);
background: linear-gradient(to bottom, #FFFFFF 0%, #6CAEF9 50%, #F199FE 100%);
background-repeat: inherit;
}
h1  {
    background-color: pink;
    color: whitesmoke;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading {
    text-align: center;
    border: 3px solid steelblue;
    padding: 6px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}
.heading img    {
    width: 50%;
    height: auto;
    border: 6px solid whitesmoke;
}
.about  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: teal;
    padding: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: auto;
    float: left;
    width: 500px;
}
.projects   {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: teal;
    padding: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: auto;
    float: right;
    width: auto;
}