h1  {
    background-color: pink;
    color: whitesmoke;
    text-align: center;
    margin: 10%;
}
.heading {
    text-align: center;
    border: 3px solid steelblue;
    padding: 6px;
    margin: 10%;
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}
.heading img    {
    width: 100%;
    height: auto;
}